/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*body styles*/

body {
  font: Helvetica, Arial, Verdana, Sans-serif;
  max-width:1470px;
  margin:0 auto;
  -webkit-font-smoothing:antialiased;
}

.header {
  height:700px;
  width:1470px;
  background: url(../img/verse_hero.jpg) 50% 100% no-repeat;
  margin:0 auto;
}

.quarter {
  width:1470px;
  margin:2.5px auto;
}

.quarter ul {
  max-width:100%;
}

ul li {
  display:inline-block;
}

a {
  color: #08c;
}

/*nav styles*/

.nav {
  top:18px;
  margin:0 auto;
  position: relative;
  display: block;
  width:980px;
  text-align: center;
  z-index:9998;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
}

.nav ul {
  display: table;
  float: left;
  width: 845px;
  table-layout: fixed;
}

.nav li {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 36px;
}

/*footer styles*/

.first-footer, .second-footer {
  float: left;
  padding-top: 1.5em;
}

.footer {
  color: #6e6e6e;
  font-size:.8334em;
  line-height:1.2;
  margin-bottom: 50px;
}

.second-footer {
  float: right;
}
